[Unit]
Description=Node Exporter

[Service]
User=root
EnvironmentFile=/etc/sysconfig/node_exporter
ExecStart=/usr/bin/node_exporter $OPTIONS
Restart=always

[Install]
WantedBy=multi-user.target
